{% extends "_base.html" %} {% load static %} 
{% load crispy_forms_tags %}
{% block title %}Add vegetable{% endblock title %} 

{% block content %}
<!-- Form to add a new vegetable -->
<div class="container" style="text-align: center">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- {% for field in form.visible_fields %}
    <div class="fieldWrapper" style=" text-align: center">
      <p style="text-align: center"> {{ field.errors }}</p>
      <p style="text-align: center"><b>{{ field.label_tag }}</b> </p>
      <p style="text-align: center">{{ field }}</p>
    </div>
    {% endfor %} -->

    {{ form|crispy }}
    <div class="fieldWrapper" style="text-align: center">
      <p>Note: after save you will transfer to main vegetables list</p>
      <input class="btn btn-primary" type="submit" value="Save">
    </div>
  </form>
</div>
{% endblock content %}
