{% extends "_base.html" %} 
{% load static %}

{% block title %}{{ vegetable.title }}{% endblock title %} 

{% block content %}
<div class="vegetable-detail" style="display: flex; align-items: center; justify-content: center">


  <div class="card m-2 p-2 mt-3" style="width: 18rem; align-items: center; min-width: 260px">
    <img class="rounded-circle shadow" alt="Cinque Terre" width="250" height="250"
        {% if vegetable.photo %}
          src="{{ vegetable.photo.url }}"
        {% else %}
          src="{% static 'images/Cauliflower.jpg' %}"
        {% endif %}
    <div class="card-body" >
      <h5 class="card-title">{{ vegetable.name }}</h5>
      <p class="card-text">Cals/100grams: {{ vegetable.calorie }}</p>
      <p class="card-text">KJ/100grams: {{ vegetable.kilojoule }}</p>
      <p class="card-text">Category: {{ vegetable.category }}</p>
      <a href={{ vegetable.wiki }} class="card-link" target="_blank">Wikipedia</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="row" style="justify-content: center">
    <a href="{% url 'edit_vegetable' vegetable.pk %}" class="btn btn-primary" style=" width: 100px;">Edit</a>
    <a href="{% url 'delete_vegetable' vegetable.pk %}" class="btn btn-danger" style=" width: 100px;">Delete</a>
  </div>
</div>

<div class="row">
  <div class="row"style="justify-content: center">
    <a href="{{request.META.HTTP_REFERER}}" style=" width: 100px;">Go Back.</a>
  </div>
</div>
{% endblock content %}
