{% extends "_base.html" %} 
{% load static %} 

{% block title %}Vegetables{% endblock title %} 

{% block content %}
<div
  class="row"
  style="display: flex; align-items: center; justify-content: center"
>
  {% for vegetable in vegetable_list %}
  <div
    class="card m-2 p-2 mt-3 col-xs-6 col-sm-3 col-lg-3"
    style="width: 18rem; align-items: center; min-width: 260px"
  >
    <img
      class="rounded-circle shadow"
      alt="{{vegetable.name}}"
      width="250"
      height="250"
      
      {% if vegetable.photo %}
        src="{{ vegetable.photo.url }}"
      {% else %}
        src="{% static 'images/Cauliflower.jpg' %}"
      {% endif %}
    />
    <div class="card-body">
      <h5 class="card-title">{{ vegetable.name }}</h5>
      <a
        href="{% url 'vegetable_detail' vegetable.pk %}"
        class="btn btn-primary"
        >More...</a
      >
    </div>
  </div>
  {% endfor %}
</div>

<div class="pagination row" style="text-align: center">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock content %}
